.slideshow {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.slideshow img{
    width: auto;
    height: auto;
    margin: 0 20px;
}

li {
    list-style: none;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots {
    position: relative;
}